html 
    head 
        title Výsledky hry
        style
            include css/style.css
    body
        h1 #{nadpis}
        table 
            thead 
                tr 
                    th datum
                    th uzivatel
                    th součet
                    th rozdíl
                    th stav
                   
            tbody 
                each us in users
                    tr 
                        td #{us.datum}
                        td  #{us.uzivatel}        
                        td  #{us.soucet}
                        td  #{us.rozdil}
                        td  #{us.stav}
                        

 
        